.anchor {
    -fx-background-image:url('file:/C:/Users/Engnoellemar/Documents/RealEstateTrial1/valuation2.png');
     -fx-background-repeat: stretch;
        -fx-background-size: 1280 720;
        -fx-background-position: center center;


}